body{
    background-image: url("https://www.cartadaparati.com/media/catalog/product/cache/871f459736130e239a3f5e6472128962/w/0/w08553-small.jpg");
    background-size: cover;
}
.title{
    color: red;
    text-align: center;
}
p{
    color: red;
}